<section class="section devise">
<div class="container">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <p>Forgot your password? No Problem.</p>
  <br />

  <div class="field">
    <p class="control has-icons-left has-icons-right">
    <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email "%>
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "button is-success" %>
  </div>

<% end %>
<br />
<%= render "devise/shared/links" %>


</div>
</section>
