<h1>New Documents Posted:</h1>

<% @documents.group_by(&:case).each do |kase, docs|  %>
  <h3><%= kase.title %></h3>
  <% docs.each do |doc|  %>
    <p> <%= doc.date.to_s + " " + doc.title %> </p>
  <% end %>
<% end %>

